<div class="card shadow-effect">
  <img src="https://images.pexels.com/photos/1174932/pexels-photo-1174932.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="post-image" class="card-img-top">
<div class="card-body">
  <small class="bg-light text-danger text-center"> Design </small>
  <small class="bg-light text-success text-center ml-3"> Featured </small>
  <small class="bg-light text-info text-center ml-3"> Views - 100,250 </small>

  <h5 class="mt-1"> HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY</h5>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, eius? Quibusdam amet explicabo inventore saepe rem doloribus esse itaque! Corporis inventore praesentium placeat saepe aliquam debitis, cum officiis consequuntur blanditiis!</p>

  <small class="bg-light text-warning text-center ml-3"> LAST UPDATED - AUG 26 2023</small>
</div>
</div>
