<div class="container">
  <div class="row">
    <div class="col-md-9">

      <div class="card shadow-effect">
        <img
          src="https://images.pexels.com/photos/1227497/pexels-photo-1227497.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
          alt="" class="card-img-top img-fluid">
        <div class="card-body">
          <small class="bg-light text-danger text-center"> Design </small>
          <small class="bg-light text-sucess text-center ml-2"> Featured </small>
          <small class="bg-light text-info text-center ml-2"> Views - 100,256 </small>
          <small class="bg-light text-warning text-center ml-2"> LAST UPDATED - SEP 20, 2023 </small>

          <h1 class="mt-3mb-3"> HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY</h1>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil ducimus illum exercitationem similique amet
            vitae dolores perferendis molestias vero. Eos iusto sunt magni quis sed ratione minus magnam, pariatur
            voluptas in numquam id unde fugit quod nobis, veritatis, quas maxime nisi eius reprehenderit. Provident illo
            nihil libero voluptatem reprehenderit sapiente deserunt eligendi asperiores blanditiis perspiciatis minus
            porro incidunt sint, error ipsa non exercitationem, soluta repellat accusantium officiis possimus quod.
            Atque amet delectus dolores asperiores assumenda velit fugit, possimus ea consequatur, maxime quaerat ex
            eveniet mollitia, iste temporibus impedit cupiditate. Enim impedit ex exercitationem nostrum quae expedita
            aut rerum possimus similique dolorum officia consectetur voluptate maiores eaque corporis explicabo, vel non
            quaerat at modi esse rem! Ipsam explicabo ab inventore facere incidunt, blanditiis id omnis in neque
            similique ullam laborum at, corrupti nulla quam voluptas! Quisquam recusandae, eos praesentium, odio eaque
            nobis vitae, repellat totam explicabo rem quia! Rem, expedita quam.</p>

        </div>
      </div>

      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>

    </div>
    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
