<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">

    <h1 class="text-white text-center">About Us</h1>

    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nulla a dolorem dignissimos accusamus autem voluptatibus molestias maiores excepturi nihil, alias blanditiis aliquid aperiam eum sint quibusdam tenetur nisi minima quasi similique amet! Rem, distinctio facilis aspernatur totam quidem tempora iure quisquam repudiandae! Odio culpa maiores architecto inventore praesentium placeat.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nulla a dolorem dignissimos accusamus autem voluptatibus molestias maiores excepturi nihil, alias blanditiis aliquid aperiam eum sint quibusdam tenetur nisi minima quasi similique amet! Rem, distinctio facilis aspernatur totam quidem tempora iure quisquam repudiandae! Odio culpa maiores architecto inventore praesentium placeat.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nulla a dolorem dignissimos accusamus autem voluptatibus molestias maiores excepturi nihil, alias blanditiis aliquid aperiam eum sint quibusdam tenetur nisi minima quasi similique amet! Rem, distinctio facilis aspernatur totam quidem tempora iure quisquam repudiandae! Odio culpa maiores architecto inventore praesentium placeat.</p>


      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme"> Back to Home </button>
      </div>

    </div>

  </div>
</section>
